// out: app.css
@font-face
  font-family 'Roboto Regular'
  src url('fonts/Roboto-Regular.ttf')

body
  padding 0 0 0 0
  margin 0 0 0 0
  width 100vw
  font-family 'Roboto Regular', Helvetica

.chat-container
  max-width 100%
  height 100vh
  background-image url('img/bg_chat.png')
  background-repeat repeat
  background-attachment fixed

.chat-list
  float left
  width 35vw
  height 100vh
  background-color rgba(60,60,60,0.8)
  color rgb(210,210,210)

.chat-contents-wrapper
  float right
  width 65vw
  height 100vh
  overflow-x hidden
  overflow-y scroll
  background-color transparent

.chat-contents
  width 100%

.chat-bubble
  margin-top 0.4em
  margin-left 0.4em
  margin-right 0.4em
  border-radius 3px
  width 75%
  color rgb(60,60,60)

.chat-bubble-inner
  padding 0.25em 0.5em

.chat-bubble-inner p
  padding 0 0
  margin 0 0

.chat-other
  float left
  background-color rgba(40,40,40,0.1)

.chat-self
  float right
  background-color rgba(80,80,80,0.1)
