// output: app.html
doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='../public/app.css')
  body
    div.chat-container
      div.chat-list
        div.chat-fix-wrapper
          div.chat-input-wrapper
            input(placeholder='Find your friends...').chat-list-search
            span.chat-add-button +
          im-user-list-component
      div.chat-contents-wrapper
        div.chat-contents
          im-chat-component
        div.chat-input-wrapper
          input(placeholder='Message...').chat-input
    script(src='../public/jsdeps/vue.js')
    script(src='../public/js/view.js')
