// output: app.html
doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='../public/app.css')
  body
    div(class='chat-container')
      div(class='chat-list')
        span chats here...
      div(class='chat-contents-wrapper')
        div(class='chat-contents')
          div(class='chat-bubble chat-other')
            div(class='chat-bubble-inner')
              p(class='chat-text') test message
              p(class='chat-user') test_user_00
          div(class='chat-bubble chat-self')
            div(class='chat-bubble-inner')
              p(class='chat-text') test message
              p(class='chat-user') test_user_01
